<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>Dashboard</h1>
    <h2>Welcome, <span th:text="${user.attributes.name}"></span>!</h2>
    <p>Your email is: <span th:text="${user.attributes.email}"></span></p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>
